[submodule "images/ArchiSteamFarm"]
	path = images/ArchiSteamFarm
	url = https://github.com/amphineko/docker-archisteamfarm
	
[submodule "images/chrony"]
	path = images/chrony
	url = https://github.com/amphineko/docker-chrony-ntp

[submodule "images/pdns-recursor"]
	path = images/pdns-recursor
	url = https://github.com/amphineko/docker-pdns-recursor

[submodule "images/vlmcsd"]
	path = images/vlmcsd
	url = https://github.com/amphineko/docker-vlmcsd
